@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

h1{
    font-size: xx-large;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    padding: 200px;

}